<!DOCTYPE html>
        <html>
                <head>
                        <title>My web page</title>
                </head>
                        
                <body>

                    </passing variable in the webpage/>

                        <h1>This is DH Learning!</h1>

                            </Adding image to the webpage/>

                        <img src="{{url_for('static',filename='i.png')}}">

                    <p>DH Learning is the place wher students learn cubing and STEM knowledgment we have more</p>

                    <p>Let's go to the webpage</p>

                </body>
        </html>
